{% extends 'SymmetricalEureka/base.html' %}
{% load bootstrap3 %}
{% load SymmetricalEureka %}

{% block script %}
<script>
$(document).ready(function () {
    $('div.ability-score-block input').focusout(update_ability_score);
    })
</script>
{% endblock %}

{% block main %}
<div>
    <h1>{{ view.player_character.character_name }}</h1>
    
    <div class="hidden" id="uuid">{{ view.player_character.Char_uuid }}</div>

    <div>
        <p>Alignment: {{ view.player_character.alignment }}</p>
    </div>

    <fieldset class="toggle-border" id="ability-scores">
        <legend>
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            Ability Scores
        </legend>
        <div class="row">
            {% for abil_score in ability_scores %}
                {% bs_ability_score_display abil_score %}
            {% endfor %}
        </div>
    </fieldset>

    <fieldset class="toggle-border" id="saving-throws">
        <legend>
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            Saving Throws
        </legend>
        <div class="row">
            {% for abil_score in ability_scores %}
                {% bs_saving_throw_display abil_score %}
            {% endfor %}
        </div>
    </fieldset>

    <fieldset class="toggle-border" id="saving-throws">
        <legend>
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            Skills
        </legend>
        <div class="row">
            {% for skill in skills %}
                {% bs_skill_display skill %}
            {% endfor %}
        </div>
    </fieldset>

</div>
{% endblock %}
