{% extends 'SymmetricalEureka/base.html' %}
{% load bootstrap3 %}
{% load SymmetricalEureka %}

{% block script %}
<script>
$(document).ready(function () {
    $('div.ability-score-block input').focusout(get_ability_score_mod);
    $('div.skills-block input').change(update_skills_bonus);
    })
</script>
{% endblock %}

{% block main %}
<div>
    <h1>Create New Character</h1>

    <div>
        <form method="post" class="form">
            {% csrf_token %}
            <div class="row">
                {% bootstrap_field character_form.character_name form_group_class="col-sm-9 col-xs-12" %}
                {% bootstrap_field character_form.alignment form_group_class="col-sm-3 col-xs-12" %}
            </div>

            <fieldset class="toggle-border" id="ability-scores">
                <legend>
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    Ability Scores
                </legend>
                <div class="row">
                    {% for abil_score in as_forms %}
                        {% bs_ability_score_field abil_score.value %}
                    {% endfor %}
                </div>
            </fieldset>

            <fieldset class="toggle-border" id="saving-throws">
                <legend>
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    Saving Throws
                </legend>
                <div class="row">
                    {% for sav in sav_throw %}
                        {% bs_saving_throw_display sav %}
                    {% endfor %}
                </div>
            </fieldset>

            <fieldset class="toggle-border" id="skills">
                <legend>
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    Skills
                </legend>
                <div class="row">
                    {% for skill in skills_forms %}
                        {% bs_skills_field skill.proficient %}
                    {% endfor %}
                </div>
            </fieldset>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
